# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CMakeFiles
/_deps
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/ArchitectureAndDesignPatterns_HW1.sln
/CMakeCache.txt
/cmake_install.cmake
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/.vs/ArchitectureAndDesignPatterns_HW1
/lib/Debug
/x64/Debug
/Debug
/QuadraticEquation.dir/Debug
/QuadraticEquation.vcxproj.filters
/QuadraticEquation[1]_include.cmake
/QuadraticEquation[1]_tests.cmake
/RUN_TESTS.vcxproj
/RUN_TESTS.vcxproj.filters
/QuadraticEquation[1]_include.cmake
/QuadraticEquation[1]_tests.cmake
/CTestTestfile.cmake
/QuadraticEquation[1]_include.cmake
/QuadraticEquation[1]_tests.cmake
